@import "variables.scss";

:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding-top: 1rem;
	overflow: hidden;
	@media (min-width: 640px) {
		width: 70vw;
	}

	@media (max-width: 640px) {
		width: 90vw;
	}

	.header {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-top: 2rem;
		width: 100%;
	}

	.profile {
		margin-top: 1rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.card {
			@media (min-width: 640px) {
				width: 50%;
				max-width: 600px;
			}

			@media (max-width: 640px) {
				flex-direction: column;
				width: 90%;
			}
			padding: 1.5rem;
			margin: 0.5rem;
			border-radius: 0.5rem;
			-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;

			.side {
				display: flex;
				flex-direction: column;
				padding: 0.5rem 1rem;
				@media (min-width: 640px) {
					width: 60%;
				}

				@media (max-width: 640px) {
					width: 90%;
				}

				.title {
					display: flex;
					justify-content: center;
					margin: 0.5rem 0;
				}
				.content {
					display: flex;
					align-items: center;
					flex-direction: column;
					margin: 0.5rem 0;
					a {
						color: $color-oxford;
						&:hover {
							color: $color-sweet;
							text-decoration: underline;
						}
					}
				}
				.logout {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0.5rem 0;
				}
			}

			.image {
				@media (min-width: 640px) {
					width: 40%;
					padding-bottom: 40%;
				}

				@media (max-width: 640px) {
					width: 90%;
					padding-bottom: 90%;
				}
				position: relative;
				height: 0;
				border-radius: 50%;
				overflow: hidden;
				-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
				box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
			}
		}
	}
}
