@import 'variables.scss';

:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 70%;

		.input-group {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding-top: 0.5rem;

			input {
				border: 2px solid $color-ming;
				width: 100%;
				padding: 0.5rem 0.75rem;

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}

				&::-webkit-search-cancel-button{
					-webkit-appearance: none;
					appearance: none;
					position:relative;
					height: 20px;
					width: 20px;
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
				}
			}

			&:hover {
				.tooltiptext {
					visibility: visible;
				}
			}

			.tooltiptext {
				visibility: hidden;
				font-size: 10px;
				width: 150px;
				background-color: $color-ming;
				color: #fff;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				top: 220px;

				/* Position the tooltip text - see examples below! */
				position: absolute;
				z-index: 1;
			}
		}

	}

	section {
		width: 70%;
	}

	.results {
		@media (min-width: 640px) {
			max-height: 50vh;
		}

		@media (max-width: 640px) {
			max-height: 30vh;
		}
		z-index: 1;
		top: 150px;
		position: sticky;
		width: 70vw;
		overflow: auto;
		background-color: $color-light;
		-webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);

		.artist {
			cursor: pointer;
			background-color: $color-white;
			border-radius: 0.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0.5rem 1rem;
			padding: 0.25rem;

			.photo {
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				overflow: hidden;
			}

			.name {
				margin: 0.5rem;
			}

			.no-photo {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $color-oxford;
				display: flex;
				align-items: center;
				justify-content: center;

				.svg {
					width: 25px;
					height: auto;
					fill: $color-white;
				}
			}
		}
	}

	.title {
		text-align: center;
		margin-top: 1rem;
		font-size: 1.5em;
	}

	.selected-artists {
		margin-top: 1rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-wrap: wrap;

		@media (max-width: 640px) {
			flex-wrap: wrap;
		}
		.card {
			@media (min-width: 640px) {
				width: 25vw;
				max-width: 250px;
			}

			@media (max-width: 640px) {
				width: 90%;
				flex-wrap: wrap;
			}
			padding: 1.5rem;
			margin: 0.5rem;
			border-radius: 0.5rem;
			-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			.end {
				display: flex;
				justify-content: flex-end;

				.close {
					width: 20px;
					height: auto;
					cursor: pointer;
				}
			}

			.center {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-grow: 1;
				.photo {
					position: relative;
					width: 70%;
					height: 0;
					padding-bottom: 70%;
					border-radius: 50%;
					overflow: hidden;
				}

				.name {
					margin: 20px 0 5px;
					text-align: center;
					font-size: 1.2em;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex-grow: 1;
				}
			}
		}
	}

	button {
		padding: 0.75rem 1.5rem;
		border-radius: 0.5rem;
		color: $color-white;
		background-color: $color-ming;

		&:hover {
			background-color: $color-sweet;
		}
	}

	.flex-center {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.alert {
		z-index: 50;
		left: 2vw;
		top: 15vh;
		position: fixed;
		color: $color-white;
		overflow: auto;
		padding: 0.5rem 2rem;
		display: block;
		background-color: $color-white;
		border: 3px solid $color-sweet;
		border-left-width: 10px;
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 2.6px;
	}
}
